

/* .logoDiv {
    background-color: #5f5f5f;
    width: 100%;
    margin: 0;
    padding: 3px 50px;
    position: fixed;
    z-index: 9;
}
.logoDiv h4 {
    text-align: center;
    color: #fff;
    margin: 0;
    letter-spacing: 2px;
} */



.successMessage {
    color: #fff;
    text-align: center;
}
