@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

:focus {
  outline: 0px !important;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

main {
  z-index: 1;
  position: relative;
  background: #fff;
  border-top: 1px solid #ced4da;
}

main section {
  padding: 40px 0;
  border-bottom: 1px solid #c6c6c6;
}

main section h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

main section article h6 {
  font-size: 18px;
  margin-bottom: 20px;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #c72027;
}

main section article p {
  line-height: 2;
}

main .parallax {
  padding: 0;
  position: relative;
  min-height: 350px;
}

main .parallax:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

main .parallax > div {
  position: absolute;
  color: #56509f;
  top: 50px;
}

main .parallax > div .textCont {
  background: #ffffffbf;
  padding: 20px;
  border-radius: 20px;
}

main .parallax > div p {
  text-align: justify;
  color: #56509f;
  font-weight: 600;
  font-size: 18px;
}

main .parallax > div h2, main .parallax > div h6 {
  color: #56509f;
}

.contactInfo {
  color: #fff;
  margin: 0;
}

.contactInfo i.fas {
  margin-right: 5px;
}

.contactInfo .contactInfoMobile {
  margin-left: 20px;
}

.mainHeader {
  border-top: 2px solid #56509f;
  background: #56509f;
}

.mainHeader .slide1 {
  background-image: url(../images/slides/1.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainHeader .slide2 {
  background-image: url(../images/slides/2.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainHeader .slide3 {
  background-image: url(../images/slides/3.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainHeader .slide4 {
  background-image: url(../images/slides/4.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainHeader .subSlide {
  width: 400px;
  background-color: #ffffff7d;
  border-radius: 10px;
  color: #c72027;
  padding: 20px;
}

.mainHeader .subSlide > h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
  line-height: 1;
  margin-top: 20px;
}

.mainHeader .subSlide > p {
  font-size: 20px;
  margin-top: 30px;
  color: #333;
  font-weight: 500;
}

.mainHeader .subSlide button {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #c72027;
}

.mainHeader .subSlide button i {
  margin-right: 10px;
}

.topSocial {
  background: #fc0d84;
  width: 100%;
  height: 50px;
}

.topSocial ul {
  height: 50px;
}

.topSocial ul li {
  display: inline-block;
  color: #fff;
}

.topSocial ul li a {
  color: #fff;
  text-decoration: none;
}

.topSocial ul li:not(.nandan-socl-wrapr) i {
  color: #fd0;
}

.topMenu {
  width: 100%;
  margin: 0;
  padding: 0 50px;
  position: relative;
  top: 0px;
  background: #fff;
  min-height: 66px;
}

.topMenu .logoText {
  position: absolute;
  top: 4px;
  z-index: 3;
  border-right: 2px solid #56509f;
  padding-right: 10px;
  background: #fff;
}

.topMenu .logoText .tagLine {
  font-size: 24px;
  color: #56509f;
  font-weight: 700;
  padding-top: 6px;
  padding-left: 10px;
  text-align: center;
  line-height: 1;
}

.topMenu .logoText .tagLine .subTagLine {
  font-size: 16px;
  font-weight: 400;
}

.topMenu .logoText img {
  width: 70px;
  height: 58px;
}

.topMenu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  color: #fff;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: right;
  list-style: none;
  position: relative;
  padding: 0;
}

.topMenu > ul > li {
  display: inline-block;
  font-weight: 500;
  padding: 0 3px;
}

.topMenu > ul > li > a {
  color: #c72027;
  text-decoration: none;
  padding: 22px 10px;
  font-size: 14px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  padding-bottom: 19px;
  text-transform: uppercase;
  font-weight: 550;
}

.topMenu > ul > li > a.activeMenuItem, .topMenu > ul > li > a:hover {
  background-color: #c72027;
  color: #fff;
  border-bottom: 3px solid #fad843;
}

.topMenu > ul > li > a:hover + .sub-menu {
  opacity: 1;
  visibility: visible;
}

.topMenu > ul > li .sub-menu {
  position: absolute;
  background: #fff;
  min-width: 150px;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  top: 64px;
}

.topMenu > ul > li .sub-menu:hover {
  opacity: 1;
  visibility: visible;
}

.topMenu > ul > li .sub-menu > li {
  position: relative;
}

.topMenu > ul > li .sub-menu > li:hover > a {
  text-decoration: none;
  background: #c72027;
  color: #fff;
}

.topMenu > ul > li .sub-menu > li:hover > a::before {
  color: #fff;
}

.topMenu > ul > li .sub-menu > li > a {
  position: relative;
  display: block;
  white-space: nowrap;
  padding: 9px 15px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #56509f;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-decoration: none;
  text-align: left;
}

header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .row h3 {
  font-size: 24px;
  line-height: 1.5;
}

header .row img {
  height: 500px;
}

.footerr {
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  background: #141526;
  color: #fff;
}

.footerr > div {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerr ul {
  list-style-type: none;
  padding: 0 20px;
}

.footerr ul a {
  color: #fff;
  text-decoration: none;
}

.footerr .copywrite {
  min-width: 120px;
  color: #fff;
}

.footerr .quickLinks {
  width: 250px;
}

.footerr .quickLinks .ttl {
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
}

.footerr .contactInfo .ttl {
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
}

.contact > h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;
  line-height: 1;
  margin-top: 20px;
  text-align: center;
  color: #56509f;
}

.contact .imgPart img {
  width: 100%;
  border-radius: 20px;
}

.contact .btn-submit {
  background-color: #fc0d84;
  color: #fff;
  font-weight: 600;
}

.mainTtl {
  font-size: 24px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  color: #000;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  margin-bottom: 30px;
  padding-bottom: 10px;
  line-height: 1.1;
  text-transform: uppercase;
}

.mainTtl:before {
  position: absolute;
  background: #c72027;
  height: 2px;
  content: '';
  width: 50%;
  bottom: 0;
  left: 0;
}

.mainTtl:after {
  position: absolute;
  background: #fad843;
  height: 2px;
  content: '';
  width: 50%;
  bottom: 0;
  right: 0;
}

.bg-95cc47 {
  background-color: #95cc47;
}

.bg-bd66ff {
  background-color: #bd66ff;
}

.bg-ffaf40 {
  background-color: #ffaf40;
}

.bg-ff6666 {
  background-color: #ff6666;
}

.coreValues .card {
  border-radius: 20px;
  color: #fff;
}

.coreValues .card h5 {
  font-weight: 600;
  font-size: 24px;
}

.coreValues .card p {
  font-weight: 400;
  font-size: 18px;
}

.progress {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #ffffff5b;
}

.progress .bar {
  background-color: #0d6efd;
  width: 0%;
  height: 2px;
  border-radius: 3px;
}

.progress .percent {
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 48%;
}

.smartyPrograms .picSide {
  background-image: url(../images/smarty_programs.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.smartyPrograms .textSide {
  padding-left: 50px;
}

.smartyPrograms .textSide > h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;
  color: #56509f;
  margin-bottom: 30px;
}

.smartyPrograms .textSide .textSideBox {
  position: relative;
  padding-left: 100px;
}

.smartyPrograms .textSide .textSideBox:hover span.stm-icon {
  top: -10px;
}

.smartyPrograms .textSide .textSideBox span.stm-icon {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 70px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.smartyPrograms .textSide .textSideBox span.stm-icon.stm-icon-car {
  font-size: 60px;
}

.smartyPrograms .textSide .textSideBox h3 {
  font-size: 22px;
  color: #fc0d84;
}

.smartyPrograms .textSide .textSideBox p {
  font-size: 18px;
  color: #595959;
}

.mainClasses h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;
  color: #56509f;
  margin-bottom: 30px;
  text-align: center;
}

.mainClasses .classes .card {
  border-radius: 20px !important;
  overflow: hidden;
}

.mainClasses .classes .card .card-footer {
  background-color: #fd0;
  color: #56509f;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-weight: 700;
}

.mainClasses .classes .card .card-footer:hover {
  background-color: #fc0d84;
  color: #fff;
}

.mainClasses .classes .owl-nav.disabled {
  display: block;
}

.mainClasses .classes .owl-nav button {
  font-size: 50px !important;
  color: #56509f !important;
  width: 50px;
  border: 1px solid #56509f !important;
  border-radius: 100% !important;
  height: 50px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 200px;
}

.mainClasses .classes .owl-nav button:focus {
  outline: 0;
}

.mainClasses .classes .owl-nav button:hover {
  background-color: #fff !important;
}

.mainClasses .classes .owl-nav button.owl-next {
  right: -70px;
}

.mainClasses .classes .owl-nav button.owl-prev {
  left: -70px;
}

.mainClasses .classes .owl-nav button span {
  height: 100%;
  line-height: 40px;
}

.kindergarten .textSide h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;
  color: #56509f;
  margin-bottom: 30px;
  text-align: center;
}

.kindergarten .textSide p {
  font-size: 20px;
  margin-top: 30px;
  color: #595959;
}

.kindergarten .textSide ul li {
  font-weight: 700;
  font-size: 20px;
  width: 50%;
  border: 0;
  color: #595959;
}

.kindergarten .textSide ul li img {
  width: 75px;
  margin-right: 20px;
}

.kindergarten .picSide img {
  border-radius: 20px;
}

.foot {
  background-color: #56509f;
}

.foot h4 {
  margin-bottom: 19px;
  font-weight: 700;
  line-height: 30px;
  font-size: 18px;
  color: #fd0;
}

.foot li {
  background: no-repeat;
  color: #fff;
  border: 0;
}

.foot .school p {
  display: block;
  padding-top: 5px;
  line-height: 24px;
  letter-spacing: .3px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.foot .quickLinks a {
  display: block;
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.foot .quickLinks a:before {
  content: "›";
  font-family: "Times New Roman";
  position: absolute;
  left: 0;
  top: -1px;
  font-size: 16px;
  color: #fd0;
}

.foot .media img {
  width: 75px;
  height: 75px;
  border-radius: 10px;
}

.galleryBox h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;
  color: #56509f;
  margin-bottom: 30px;
  text-align: center;
}

.galleryBox #gallery {
  padding-left: 20px;
  background-color: #fd0;
  padding: 20px;
  border-radius: 10px;
}

.galleryBox #gallery .nav-link.active {
  background-color: #fc0d84;
  border-radius: 20px;
  border: 0;
  color: #fff;
}

.galleryBox #gallery .nav-link {
  font-weight: 600;
  font-size: 18px;
  background: none;
  color: #56509f;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 20px;
  border: 0;
}

.galleryBox #gallery .nav-link:hover {
  background-color: #fc0d84;
  border-radius: 20px;
  border: 0;
  color: #fff;
}

.galleryBox .gallery img {
  width: 350px;
  margin: 10px;
  border: 1px solid #dee2e6;
}

.classes > h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;
  color: #56509f;
  margin-bottom: 30px;
  text-align: center;
}

.classes .textPart .subTitle {
  font-size: 30px;
  color: #56509f;
  margin-bottom: 30px;
  text-align: center;
}

.classes .textPart p {
  font-size: 18px;
  color: #595959;
  margin-bottom: 30px;
  line-height: 2;
}

.classes .imgPart img {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
}

.events .fullCard {
  border-radius: 20px;
  overflow: hidden;
}

.events .fullCard h5 {
  color: #56509f;
  font-size: 24px;
}

.events .fullCard ul {
  list-style-type: none;
  padding-left: 10px;
}

.events .fullCard ul .stm-icon {
  margin-right: 10px;
  color: #fc0d84;
}

.events .fullCard ul li {
  margin: 10px 0;
}

.events .textPart {
  max-width: 225px;
}

.owl-carousel.banner .owl-item img.subimg {
  width: 300px;
  height: 300px;
  display: inline-block;
  /*box-shadow: 10px 6px 15px rgb(0 0 0 / 16%);*/
  border: 1px solid #ddd;
  border-radius: 10px;
}

.owl-carousel.partners .owl-item {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.owl-item {
  text-align: center;
}

.carousel {
  width: 100%;
}

#carouselExampleDark .carousel-item, #carouselExampleDark1 .carousel-item {
  color: #000;
  text-align: center;
  padding-bottom: 0px;
}

.carousel-indicators {
  bottom: initial;
  top: 0;
  position: relative;
}

.carousel-indicators li {
  background-color: #000;
}

.carousel-control-next, .carousel-control-prev {
  color: #000;
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
  color: #000;
}

.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
  -webkit-filter: invert(1) grayscale(100);
          filter: invert(1) grayscale(100);
}

.nandan-socl-wrapr a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
}

.nandan-socl-wrapr a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
}

.nandan-socl-fb {
  background: #3b5998;
}

.nandan-socl-twit {
  background: #26a6d1;
}

.nandan-socl-lnkd {
  background: #1da1f2;
}

.nandan-socl-insta {
  background: -webkit-gradient(linear, left top, right top, from(#fcb045), color-stop(#fd1d1d), to(#833ab4));
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}

.nandan-socl-utub {
  background: #c71f1e;
}

.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

.hover-3::after {
  content: '';
  width: calc(100% - 3rem);
  height: calc(100% - 3rem);
  border: 1px solid #fff;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 90;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0;
  display: block;
  opacity: 0;
}

.hover-3-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center !important;
  z-index: 99;
  color: #fff !important;
  font-size: 18px;
}

.hover-3-content p {
  text-align: center !important;
}

.hover-cards-container {
  margin: 30px 0;
}

.hover-3-description {
  opacity: 0;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hover-3 img {
  width: 110%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hover-3 .hover-overlay {
  background: rgba(0, 0, 0, 0.2);
}

.hover-3:hover img {
  width: 100%;
}

.hover-3:hover::after {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.hover-3:hover .hover-3-description {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.hover-3:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.testimonial .fa-quote-left {
  font-size: 22px;
  color: #fff;
  background-color: #bd2929;
  padding: 6px;
}

.testimonial .fa-quote-right {
  font-size: 22px;
  float: right;
  color: #fff;
  background-color: #bd2929;
  padding: 6px;
}

.testimonial .name {
  font-size: 16px;
  font-weight: 700;
  font-family: sans-serif;
  color: #bd2929;
  margin-bottom: 2px;
}

.testimonial .address {
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
  color: #b78f20;
  margin-top: 0px;
}

.testimonial img {
  display: inline;
  width: auto;
  height: auto;
  max-width: 100%;
  border: 1px solid #bd2929;
  border-radius: 15px 0 15px 0;
}

.testimonial .test-container {
  border-top: 2px solid #bd2929;
  border-bottom: 2px solid #bd2929;
}

footer li {
  background: transparent !important;
}

footer li a {
  color: #fff;
}

footer li.list-group-item {
  border-bottom: 1px solid #ffffff1a;
}

.award-tag {
  margin-top: 20px;
  padding: 15px;
  font-size: 42px;
  line-height: 45px;
  width: 220px;
  text-align: center;
  color: #fff;
  border: 2px solid #fff;
  position: relative;
}

.award-tag i {
  position: absolute;
  right: -10%;
  top: -10%;
}

.footerBottom {
  height: auto;
  overflow: hidden;
  background: #000;
}

.footerBottom .footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 13px;
  padding-bottom: 13px;
}

.read_more {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #c72027;
}

.read_more:hover {
  color: #fff;
}

.curriculum li {
  position: relative;
  border: 0;
}

.curriculum li:before {
  width: 5px;
  height: 5px;
  display: inline-block;
  content: "";
  background-color: #c72027;
  position: absolute;
  top: 18px;
  left: 0;
  border-radius: 5px;
}

.footerBottom h5 {
  font-size: 14px;
  padding-left: 20px;
  color: #fff;
}

.footerBottom h5 a {
  color: #F66062;
  margin-left: 5px;
}

.footerBottom .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: center;
}

.footerBottom .social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.footerBottom .social-icons li a {
  background-color: #eceeef;
  color: #818a91;
  display: inline-block;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.footerBottom .sitemap h5 {
  padding-right: 20px;
}

.footerBottom .sitemap h5 a {
  color: #fff;
  margin: auto 10px;
}

/*****************
 ** MAIN HEADER **
 *****************/
.menu-icon {
  display: none;
  color: #fff;
  font-size: 20px;
}

.figure {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

@media only screen and (min-width: 992px) {
  ul.topbarMenu {
    display: block;
  }
}

@media only screen and (max-width: 991px) {
  .menu-icon {
    display: inline-block;
    position: absolute;
    right: 50px;
  }
  .menu-icon:hover {
    color: #fff;
  }
  ul.topbarMenu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px 0;
    background: #141526eb;
    top: 72px;
    z-index: 2;
  }
  ul.topbarMenu > li {
    display: block;
    padding: 10px 0;
    text-align: center;
  }
}

@media only screen and (max-width: 1200px) {
  .topMenu {
    max-width: 96%;
  }
}

@media only screen and (max-width: 768px) {
  .footerr > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footerr .quickLinks {
    margin-left: 0;
  }
  .footerr ul {
    padding: 0;
  }
  .footerr {
    padding: 30px;
  }
  main section {
    padding: 30px 0;
  }
  .menu-icon {
    right: 10px;
  }
}

@media only screen and (max-width: 530px) {
  .topMenu .logoText img {
    width: 270px;
    margin-top: 14px;
  }
}

@media only screen and (max-width: 480px) {
  main section h2 {
    font-size: 30px;
    word-break: break-all;
  }
  main section article h6 {
    margin-bottom: 30px;
  }
  td {
    font-size: 14px;
    line-height: 1.2;
  }
}

#footer {
  z-index: 0;
  width: 100%;
  bottom: 0px;
  position: relative;
  vertical-align: middle;
  min-height: 300px;
  background: url(../images/footer_bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  color: #56509f;
}

#footer a {
  text-decoration: none;
  color: #fff;
}

.card-title {
  text-align: center;
  width: 100%;
  border-bottom: none;
  color: #c72027;
  letter-spacing: 0;
  font-weight: 600;
  margin-top: 15px;
  /*text-transform: no*/
  text-transform: uppercase;
  font-size: 18px;
}

.card-title_lower {
  text-align: center;
  width: 100%;
  border-bottom: none;
  color: #c72027;
  letter-spacing: 0;
  margin-top: 5px;
  /*text-transform: no*/
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */